* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #020617, #0f172a, #020617);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    color: #e2e8f0;
}

.container {
    width: 100%;
    max-width: 672px;
}

.header {
    text-align: center;
    margin-bottom: 32px;
}

.header h1 {
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.header p {
    color: #94a3b8;
    font-size: 14px;
}

.main-card {
    background: rgba(52, 75, 129, 0.5);
    backdrop-filter: blur(24px);
    border-radius: 16px;
    padding: 32px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.input-section {
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
}

.input-wrapper {
    flex: 1;
}

.task-input {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    background: rgba(30, 41, 59, 0.5);
    border: none;
    border-radius: 12px;
    color: white;
}

.add-button {
    height: 48px;
    padding: 0 24px;
    background: #2563eb;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}

.filter-tabs {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.filter-tab {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #1e293b;
    color: #94a3b8;
    cursor: pointer;
}

.filter-tab.active {
    background: #2563eb;
    color: white;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    overflow-y: auto;
    flex: 1;
}

.task-item {
    background: #1e293b;
    padding: 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.task-item.completed .task-text {
    text-decoration: line-through;
    color: #64748b;
}

.task-text {
    flex: 1;
}

.delete-button {
    background: transparent;
    border: none;
    color: #ef4444;
    cursor: pointer;
}

.footer-stats {
    margin-top: 24px;
    text-align: center;
    color: #64748b;
}


.task-list::-webkit-scrollbar {
    width: 8px;
}

.task-list::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 10px;
}

.empty-state {
    text-align: center;
    font-size: 30px;
    color: #94a3b8;
    margin-top: 70px;
}

.empty-icon {
    font-size: 50px;
    margin-bottom: 10px;
}